/* Basic Styling */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
  }

  /* Header Styling */

  header {
    background-color: #9EA3B0;
    padding: 5px;
  }

  .logo img {
    float: left;
    max-width: 70px;
    height: auto;
  }

  h1 {
    color: #546A7B;
    font-family: "Abril Fatface", serif;
    font-size: 4em;
    padding: 0;
  }

  h2 {
    color: #c783a5;
    font-size: 1.5em;
  }

  nav ul {
    list-style: none;
    text-align: right;
    text-transform: lowercase;
  }
  
  nav li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav a {
    color: #f9e3d5;
    font-weight: 500;
    text-decoration: none;
  }

  nav a:hover {
    text-decoration: none;
    color: #B0D0AB;
  }
  
  /* Main Styling */

.hero {
    background-image: url("https://i.ibb.co/pRYgwps/hero-background1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;

    display: flex; 
    align-items: center;  
    justify-content: center; 
  }
  
  .text-container {
    text-align: center;
  }

  .text-container h1 {
    margin-top: 10px;
    margin-bottom: 5px;
}
  
  .text-container h2 {
    margin-bottom: 30px;
  }

  .btn {
    background-color: #f9e3d5;
    color: #000;
    padding: 6px 15px;
    border: none;
    border-radius: 22px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    text-decoration: none;
  }

  .btn:hover {
    background-color: #B0D0AB;
    color: #000;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
  }
  
  .featured-projects {
    margin-top: 50px;
  }
  
  .featured-projects h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .project-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .project {
    margin-bottom: 20px;
  }

  footer {
    background-color: #9EA3B0;
    color: white;
    font-size: .8em;
    padding: 3px;
    text-align: center;
  }
  
  /* Media Queries*/

  @media (min-width: 768px) {
    .project-grid {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .project {
      width: 30%;
      margin-bottom: 20px; 
    }
  }